body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    width: 100%;
    min-height:100vh; 
    background: linear-gradient(135deg, BLUE, skyblue);
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: #fff; 
    margin: 100px auto 20px; 
    padding: 40px 30px 70px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

#task-input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pending-tasks, .completed-tasks {
    flex: 1;
    padding: 0 10px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
}
h1 img{ 
    width: 30px;
    margin-left: 10px;
}